# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.RobotForge.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\UnityWorkspace\RobotForge\.idea\.idea.RobotForge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
